/* Main Navbar styling remains the same */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #151925;
  transition: top 0.3s;
}

.left {
  width: 35%;
  display: flex;
  justify-content: left;
}

.right {
  width: 55%;
  display: flex;
  justify-content: space-around;
}

.button {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  background-color: transparent;
  border-color: transparent;
  width: 120px;
  height: 30px;
  font-size: 18px;
  color: #03B0FD;
  cursor: pointer;
  position: relative;
  border: none;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.button:focus,
.button:hover {
  color: #fff;
}

.button:focus:after,
.button:hover:after {
  width: 100%;
  left: 0%;
}

.button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

body {
  background-color: #151925;
}

.title {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 45px;
}

/* Responsive Styles for Navbar */
.menu-toggle {
  display: none; /* Hide the toggle button on larger screens */
  background: transparent;
  border: none;
  font-size: 30px;
  color: #03B0FD;
  cursor: pointer;
  position: absolute;
  right: 20px;
}

@media (max-width: 768px) {
  .right {
    display: none; /* Hide the regular navbar links on small screens */
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100px;
    right: 0;
    width: 100%;
    background-color: #151925;
  }

  .right.open {
    display: flex; /* Show the menu when the toggle button is clicked */
  }

  .menu-toggle {
    display: block; /* Show the toggle button on small screens */
  }

  .button {
    width: 100%; /* Full width for each menu item */
    text-align: center;
    padding: 10px 0;
  }
}
